@font-face {
    font-family: noto-sans-jp;
    src: local("Noto Sans JP");
}

@font-face {
    font-family: kanji-stroke-orders;
    src: local("KanjiStrokeOrders");
    size-adjust: 200%;
}

.card {
    font-family: noto-sans-jp;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.stroke-orders {
    font-family: kanji-stroke-orders;
}
